/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

img{
    max-width: 100%;
}

/*header*/
header{
    display: flex;
    justify-content: space-between;
}

/*main*/
.container-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
    
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}